body {
    margin: auto;
    background-image : url(../images/Les\ Arckonistes2.jpg);
    background-size: cover;
    color : white;
}

h1 {
    text-align: center;
}

.button {
    text-align: center;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}
